sudo apt install numpy
sudo apt install scipy
sudo apt install Pillow
sudo apt install cython
sudo apt install matplotlib
sudo apt install scikit-image
sudo apt install keras>=2.0.8
sudo apt install opencv-python
sudo apt install h5py
sudo apt install imgaug
sudo apt install IPython[all]
